/*** Черный цвет (Black color) ***/

#body-black {
	/*** Элементы шаблона (Template) ***/
	background-color: #000;
	color: #fff;

	a {
		color: #fff;
	}
	h1, h2, h3, h4, h5, h6 {
		color: #fff;
	}
	#header {

		.logo {
			background-image: url('../img/black/1x/logo.png');
		}
	}
	.header-inner {
		background: rgba(0, 0, 0, 0.5);
		border-bottom-color: #323234;
	}
	#topmenu {

		ul {
			background: rgba(0, 0, 0, 0.8);
		}
		a {
			color: #dcdcdc;

			&:hover {
				color: #fff;
			}
	    }
	    .arrow {
	    	background-image: url('../img/black/1x/topmenu-arrow.png');
	    }
	}
	#footer {

		h3 {
			color: #fff;
		}
		.menu-widget a {
			color: #999;

			&:hover {
				color: #fff;
            }
		}
		.bottom {
			border-top-color: #242424;
			color: #999999;

			a {
				color: #999999;
			}
			.logo {
				background: url('../img/black/1x/mini-logo.png') 50% 50% no-repeat;
			}
		}
	}
	.footer-inner {
		background: rgba(0, 0, 0, 0.5);
		border-top-color: #323234;
		color: #999999;
	}

	/*** Страницы (Pages) ***/
	&.page-blog {

		.blog {
			border-right-color: #cdcdcd;

			p, p a {
				color: #999;
			}
		}
	}
	&.page-site {

		.page-heading {

			h1, h4 {
				color: #fff;
			}
			h1 {
				border-bottom-color: #fff;
			}
		}
		.page-moto {
			color: #fff;

			span {
				color: #7c7868;
			}
		}
		.page-images img {
			border-color: #171610;
		}
		.page-product-info {
			color: #b8b7b7;

			.indicator {
				border-bottom-color: #d3d1cf;
				color: #fff;

				span {
					background: #d3d1cf;
				}
			}
			.note {
				color: #7c7868;
			}
		}
	}

	/*** Виджеты (Widgets) ***/
	#news-widget {

		p a {
			color: #777;

			&:hover {
				color: #000;
			}
		}
	}
	#archive-widget {

		strong {
			border-bottom-color: #000;
		}
	}

	#subscription-widget {

		input {
			border-color: #cdcdcd;
			color: #cdcdcd;

			&:focus {
				color: #000;
			}
		}
		button {
			background: #000;
			color: #fff;
		}
		p {
			color: #cdcdcd;
		}
	}
	#social-widget {
		p {
			color: #cdcdcd;
		}
	}

	/*** Хелперы (Helpers) ***/
	.bordered {
		border-bottom-color: #fff;
	}
}

/*** Retina ***/
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    #body-black {

    	#header .logo {
            background-image: url('../img/black/2x/logo.png') !important;
        }
        #footer .logo {
    		background-image: url('../img/white/2x/mini-logo.png');
    	}
    }
}