body {
    background-image: url('../img/collections/gold-power.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
body.royal {
    background-image: url('../img/collections/royal.jpg');
}
body.revo {
    background-image: url('../img/collections/revo.jpg');
}
body.classica {
    background-image: url('../img/collections/classica.jpg');
}
.header-inner, .footer-inner {
    background: rgba(0, 0, 0, 0.4);
}
#content {

    h1 {
        text-align: center;
        border-bottom: 1px solid #fff;
        margin-top: 2em;
    }
}