.page-site {

    .page-image {
        float: right;
        clear: both;
    }
    h3 {

    	&.i1 {
    		width: 38%;
    	}
    	&.i2 {
    		width: 62%;
    		margin-top: 1em;
    	}
    	&.i3 {
    		width: 35%;
    	}
    	&.i4 {
            margin-top: 31em;
    		width: 40%;
    	}
    }
}