/********************* Элементы шаблона *********************/
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    font-size: 15px;
    font-family: @font-base;
    line-height: 1.6;
    min-width: @container-min-width;
}
a {
    text-decoration: underline;

    &:hover {
        text-decoration: underline;
    }
}
img {
    border: none;
    display: block;
    max-width: 100%;
    height: auto;
}

/*** Суперконтейнер (Superontainer) ***/
#supercontainer {
    display: table;
    height: 100%;
    width: 100%;
}

/*** Общий контейнер (Container) ***/
.container-fluid, .container {
    display: block;
    clear: both;
    margin-left: auto;
    margin-right: auto;

  .clearfix();
}
.container-fluid {
    padding-left: @container-padding;
    padding-right: @container-padding;
    min-width: @container-min-width;
    max-width: @container-max-width;
}
.container {
    padding-left: @container-padding;
    padding-right: @container-padding;
    width: @container-min-width;
}

/*** Общие правила ***/
#header, #content, #footer, {
    clear: both;
    display: table-row;
    width: 100%;
}
.header-inner, .footer-inner {
    display: block;
    font-family: @font-base;
    position: relative;
    width: 100%;
    z-index: 10;
}

/*** Шапка (Header) ***/
#header {

    .logo {
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: 200px 46px;
        float: left;
        clear: both;
        text-indent: -9999px;
        margin-top: (@header-size-height - 43)/2;
        width: 200px;
        height: 46px;
    }
}
.header-inner {
    height: @header-size-height;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

/*** Верхнее меню (Topmenu) ***/
#topmenu {
    float: right;
    font-size: 114.28%;
    font-style: italic;
    font-family: @font-base;
    text-align: right;
    margin: 0;
    padding: 0;
    height: @header-size-height;
    width: 75%;

    li {
        display: inline-block;
        list-style: none;
        margin-left: 15px;
        position: relative;

        &:first-child {
            margin-left: 0;
        }
    }
    ul {
        display: none;
        position: absolute;
        overflow: hidden;
        padding: 0 7px 7px;
        text-align: left;
        margin: 0;
        top: 66px;
        left: 0;

        li {
            float: left;
            margin: 0;
            display: block;
            clear: both;
        }
        a {
            line-height: 175%;
        }
    }
    .parent {
        background-position: 100% 52%;
        background-repeat: no-repeat;
        padding-right: 15px;
    }
    a {
        line-height: @header-size-height;
        display: block;
    }
}

/*** Контент (Content) ***/
#content {
    height: 100%;
}
.content-right {
    float: left;
    min-height: 1px;
    margin-right: 5%;
    width: 55%;
}

/*** Правая колонка (Right) ***/
#right {
    float: left;
    overflow: hidden;
    width: 40%;
}

/*** Подвал (Footer) ***/
#footer {

    h3 {
        font-size: 128.6%;
        margin-bottom: 0.8em;
    }
    .menu-widget {
        float: left;
        overflow: hidden;
        margin-bottom: 2.5em;
        width: 20%;

        ul {
            padding: 0;
            margin: 0;
            width: 100%;
        }
        li {
            display: block;
            list-style: none;
            line-height: 175%;
        }
    }
    .bottom {
        border-top-width: 1px;
        border-top-style: solid;
        padding: 1em 0 4em;
        float: left;
        clear: both;
        font-size: 73.3%;
        overflow: hidden;
        width: 100%;

        div {
            float: left;
            overflow: hidden;
            width: 25%;
        }
        div:first-child {
            width: 75%;
        }
        ul {
            display: block;
            clear: both;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }
        li {
            display: inline;
            list-style: none;
            float: left;
        }
        .separator {
            margin: 0 0.3em;
        }
        .logo {
            background-size: 148px 34px;
            background-position: 50% 50%;
            background-repeat: no-repeat;
            float: right;
            width: 148px;
            height: 34px;
            text-indent: -9999px;
            margin-bottom: 2em;
        }
        .contacts {
            clear: both;
            float: right;
        }
    }
}
.footer-inner {
    border-top-width: 1px;
    border-top-style: solid;
    padding-top: 2em;
    margin-top: 2em;
}

/*** Постраничная навигация (Pagination) ***/
.pagination {
    clear: both;
    float: left;
    margin: 2em auto 0;
    padding: 0;
    font-style: italic;
    text-align: center;
    overflow: hidden;
    width: 100%;

    .clearfix();

    li {
        display: inline;
        padding: 0;
        margin: 0;
        overflow: hidden;
    }
    a, span {
        display: inline-block;
        line-height: 30px;
        padding: 0 12px;
    }
    a {
        color: #000;
        text-decoration: none !important;
    }
    .active a, a:hover {
        text-decoration: none;
        padding: 0 11px;
        line-height: 28px;
        font-size: 2em;
        font-weight: bold;
    }
    .prev, .next {
        font-size: 150%;
    }
}