/********************* Типографика *********************/
h1, h2, h3, h4, h5, h6 {
	font-weight: 200;
	line-height: 1.1;
}
h1, h3, h4, h5, h6 {
	font-family: @font-base;
	font-style: italic;
}
h1 {
	font-size: 200%;
	margin: 0.3em 0;
}
h2 {
	font-family: @font-secondary;
	font-size: 120.0%;
	margin: 0.5em 0 0.3em;
	text-transform: uppercase;
	letter-spacing: -0.05em;
}
h3 {
	font-size: 146.7%;
	margin: 0.3em 0;
}
h4 {
	font-size: 135.7%;
	margin: 0.3em 0;
}
h5 {
	font-size: 121.4%;
}
h6 {
	font-size: 114.3%;
}
p {
	margin: 0.7em 0;
}