/********************* Отдельные страницы админки *********************/
.gallery-form-image {
	float: left;
	width: 100%;
	margin: 0 0 10px 0;
	overflow: hidden;
}
.gallery-form-image-delete {
	background: #f38083;
	color: #fff;
	cursor: pointer;
	float: left;
	width: 100%;
	line-height: 30px;
	text-align: center;
}
