@font-face {
    font-family: 'PFDinTextCompProRegular';
    src: url('../fonts/pfdintextcondpro-regular.eot');
    src: url('../fonts/pfdintextcondpro-regular.eot') format('embedded-opentype'),
         url('../fonts/pfdintextcondpro-regular.woff') format('woff'),
         url('../fonts/pfdintextcondpro-regular.ttf') format('truetype'),
         url('../fonts/pfdintextcondpro-regular.svg#PFDinTextCompProRegular') format('svg');
}